#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  background-color: var(--bg-secondary-dark);
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

form input {
  padding: 0.5rem;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--bg-main-dark);
}

form textarea {
  padding: 0.5rem;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--bg-main-dark);
}
