:root {
  --bg-main-dark: #111827;
  --bg-main-light: #ffffff;
  --text-main-dark: #ffffff;
  --text-main-light: #213547;
  --text-accent-dark: #646cff;
  --text-link-hover: #535bf2;
  --text-accent-light: #747bff;
  --bg-secondary-dark: #1f2937;
  --bg-secondary-light: #f9f9f9;
  --border-ligth: #9ca3af;
  --border-dark: #374151;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-main-dark);
  background-color: var(--bg-main-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--text-accent-dark);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
