.subs-table-container,
.subs-table,
.subs-table .subs-table-header tr,
.subs-table .subs-table-body tr {
  background-color: var(--bg-secondary-dark);
}

.subs-table-container {
  padding: 20px;
  border-radius: 5px;
}

.subs-table .subs-table-header tr th,
.subs-table .subs-table-body tr td {
  border-color: var(--border-dark);
}
